<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maximedelange.mygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.GameScreen"
            android:label="@string/title_activity_game_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.CharacterScreen"
            android:label="@string/title_activity_character_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.ArmoryScreen"
            android:label="@string/title_activity_armory_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.CombatScreen"
            android:label="@string/title_activity_combat_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.SettingsScreen"
            android:label="@string/title_activity_settings_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>